html {
    height: 100%;
}

body {
    background: url(/rain.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

main {
    text-align: center;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: 200px;
    padding: 8px;
    font-size: 13px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

.tooltip .tooltip__item {
    display: block;
    max-width: 180px;
    margin: 0 auto;
}

.sort {
    background: #333;
    color: #fff;
    max-width: 150px;
    padding: 24px 8px;
}

.sort label {
    text-align: center;
}

.sort input {
    margin-top: 5px;
}
